
          <div class="container">

            <div class="row col-sm-12 col-md-12">
            </div> <!-- End Row-->

            <div class="row">
              <article id="content" class="col-md-offset-2 col-md-8 text-justify">
                <header>
                  <h1 class="text-center">
                    <a href="{{ .Permalink }}" class="fixed-link">{{ .Title }}</a>
                  </h1>
                  <div class="row text-center banner-404">
                    Te perdiste? Intenta desde el <a href="/">principio</a>.
                  </div>
                </header>
              </article>
            </div>

          </div>
