<div class="container">

  <div class="row text-center">
    <div class="col-sm-offset-2 col-md-offset-2 col-sm-6 col-md-8">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Terapia -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:90px"
           data-ad-client="ca-pub-3432671328017658"
           data-ad-slot="7532780888"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div>

</div>
