
    <section id="clinica" class="featured">

    <div class="container">
      <div class="row">
        <div class="col-sm-5 text-center">
          <img class="margin-top img-responsive" src="img/logo.png" alt="Logo Psicologa Infantil" data-scrollreveal="move 100px and enter from the left after 0.55s" width="429">
        </div>
        <div class="col-sm-5 col-sm-offset-1">
          <div class="vertical-align clinica">
            <h2>Clínica de Tratamiento y Diagnóstico Psicológico Infantil</h2>
            <p>
            Nuestra evaluación psicológica es muy completa. La evaluación se compone
            de 5 a 7 sesiones aproximadamente donde detectaremos el origen del problema
            haciendo uso de las terapias:
            </p>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <ol class="rounded-list">
                  <li><a href="/terapia-emocional/">Emocional</a></li>
                  <li><a href="/psicomotricidad/">Psicomotricidad</a></li>
                  <li><a href="/terapia-de-aprendizaje/">Aprendizaje</a></li>
                  <li><a href="/terapia-de-lenguaje/">Lenguaje</a></li>
                  <li><a href="#">Atención</a></li>
                </ol>
              </div>
              <div class="col-sm-6 col-md-6">
                <ol class="rounded-list second">
                  <li><a seq="6" href="#">Desarrollo cognitivo</a></li>
                  <li><a seq="7" href="#">Vista</a></li>
                  <li><a seq="8" href="#">Escucha</a></li>
                  <li><a seq="9" href="#">Percepción</a></li>
                  <li><a seq="10" href="#">Neurológico</a></li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    </section>
