
          <div class="container">

            <div class="row col-sm-6 col-md-10">
              <div class="col-sm-1 col-md-2">
              </div>
              <div class="col-sm-5 col-md-8">
                <h1 class="masthead-title">
                  <a href="{{ .Permalink }}" class="fixed-link">{{ .Title }}</a>
                </h1>
              </div>
            </div> <!-- End Row-->

            <div class="row">
              <div class="col-sm-1 col-md-2"></div>
              <article id="content" class="col-sm-5 col-md-8 text-justify">
              {{ .Content }}
              </article>
            </div>

          </div>
