
  {{ "<!-- ============= Featured Sections ===============  -->" | safeHTML }}
    <section id="psi" class="dark with-bg">

    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 overlay-text">
          <h2>¿Cómo sé si es recomendable asistir con una psicóloga infantil?</h2>
        </div>
        <div class="col-xs-10 col-sm-8 col-md-6 overlay-text">
          <div class="vertical-align">
            <p>Si el niño presenta:</p>
            <ul class="list-group">
              <li class="list-group-item">Problemas de Atención</li>
              <li class="list-group-item">Problemas de aprendizaje</li>
              <li class="list-group-item">Conductas anormales, en especial ira excesiva, tristeza excesiva, falta de apetito</li>
              <li class="list-group-item">Aislamiento</li>
              <li class="list-group-item">Insomnio o exceso de sueño</li>
              <li class="list-group-item">Cambios de humor repentinos y/o constantes</li>
              <li class="list-group-item">Dolencias físicas inusuales o en aumento</li>
            </ul>
            <p>Además, si se ha pasado recientemente por alguna perdida como una muerte, una mudanza, o divorcio.</p>
            <blockquote class="blockquote blockquote-reverse">
            <p class="mb-0 lead">
              Leer más sobre <strong><a href="/psicologia-infantil/">Psicología Infantil</a></strong>
            </p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>

    <div class="overlay-bg black"></div>

    </section>
