<meta charset="utf-8">
<link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com" />
<link rel="dns-prefetch" href="//fonts.googleapis.com" />
<link rel="dns-prefetch" href="//oss.maxcdn.com" />
<link rel="dns-prefetch" href="//plus.google.com" />

<link rel="preconnect" href="//maxcdn.bootstrapcdn.com" crossorigin="anonymous" />
<link rel="preconnect" href="//fonts.googleapis.com" crossorigin="anonymous" />
<link rel="preconnect" href="//oss.maxcdn.com" crossorigin="anonymous" />
<link rel="preconnect" href="//plus.google.com" crossorigin="anonymous" />

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:image" content="{{ .Site.BaseURL }}{{ with .Site.Params.og_image }}{{ . }}{{ end }}" />
<meta property="og:title" content="{{ .Site.Title }}" />
<meta property="og:url" content="{{ .Site.BaseURL }}" />
<meta property="og:site_name" content="{{ .Site.Params.name }}" />
<meta property="og:type" content="website" /> {{ $fecha := .Date.Format "2006-01-02" }}
<meta property="og:updated_time" content="{{ if eq $fecha "0001-01-01" }}{{ .Site.LastChange.Format "2006-01-02 " }}{{ else }}{{ .Date.Format "2006-01-01" }}{{ end }}" />
<meta property="og:description" content="{{ with .Site.Params.og_description }}{{ . }}{{ end }}">

<meta name="description" content="{{ with .Site.Params.description }}{{ . }}{{ end }}">
<link rel="author" href="{{ with .Site.Params.google.plus }}{{ . }}{{ end }}" />
<link rel="alternate" hreflang="x-default" href="{{ .Site.BaseURL }}" />
<link rel="shortcut icon" href="{{ with .Site.Params.favicon }}{{ . }}{{ end }}">

<meta name="author" content="Iván Jaimes">
<title>{{ .Site.Title }}</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/theme.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/css/magnific-popup.css" rel="stylesheet">

<!-- Font Awesome -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

<link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

<script async src="/js/modernizr.custom.js"></script>
<script type="text/javascript" async defer src="//apis.google.com/js/platform.js?publisherid=110140346294219337723">
</script>
