
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="http://psicologainfantil.mx/img/psi_mx.jpg"/>
    <meta property="og:title" content="Clínica de Tratamiento Y Diagnóstico Psicológico Infantil"/>
    <meta property="og:url" content="http://psicologainfantil.mx"/>
    <meta property="og:site_name" content="Psicóloga Infantil"/>
    <meta property="og:type"   content="website" />
    <meta property="og:updated_time"   content="1431471254" />
    <meta property="og:description" content="Psicologa Infantil, atendemos problemas emocionales, de conducta, bullying, etc.
                    Porque la infancia es la etapa mas importante, se ponen las bases para el resto de la vida.">
    <meta name="description" content="Psicologa Infantil, atendemos problemas emocionales, de conducta, bullying, etc.
                    Porque la infancia es la etapa mas importante, se ponen las bases para el resto de la vida.">
    <link rel="author" href="https://plus.google.com/117529918649575216088/posts" />
    <link rel="alternate" hreflang="x-default" href="http://psicologainfantil.mx" />
    <link rel="canonical" href="http://psicologainfantil.mx">
    <link rel="shortcut icon" href="img/favicon.ico">

    <meta name="author" content="Iván Jaimes">
    <title>Consultorio Psicológico Infantil</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/theme.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/magnific-popup.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="js/modernizr.custom.js"></script>
