
  {{ "<!-- Corporate contacts  -->" | safeHTML }}
    <script type="application/ld+json">
      { "@context" : "http://schema.org",
        "@type" : "Organization",
        "url" : "http://psicologainfantil.mx",
        "logo": "http://psicologainfantil.mx/img/logo.png",
        "contactPoint" : [
        { "@type" : "ContactPoint",
          "telephone" : "+52-55-55-35-0814",
          "contactType" : "customer service",
          "areaServed" : "MX",
          "availableLanguage": ["Spanish"]
        } ],
        "sameAs" : [ "http://www.facebook.com/terapiasvisuales",
          "https://mx.linkedin.com/in/terapiavisual",
          "http://plus.google.com/117529918649575216088"]
      }
    </script>
