
  {{ "<!-- Corporate contacts  -->" | safeHTML }}
    <script type="application/ld+json">
      { "@context" : "http://schema.org",
        "@id": "{{ .Site.BaseURL }}#organization",
        "@type" : "Organization",
        "name": "{{ .Site.Title }}",
        "url" : "{{ .Site.BaseURL }}",
        "logo": "{{ .Site.BaseURL }}{{ with .Site.Params.og_image }}{{ . }}{{ end }}",
        "contactPoint" : [
        { "@type" : "ContactPoint",
          "telephone" : "+52-55-55-35-0814",
          "contactType" : "customer service",
          "areaServed" : "MX",
          "availableLanguage": ["Spanish"]
        } ],
        "sameAs" : [
          "{{ with .Site.Params.social.plus }}{{ . }}{{ end }}",
          "{{ with .Site.Params.social.twitter }}{{ . }}{{ end }}",
          "{{ with .Site.Params.social.facebook }}{{ . }}{{ end }}",
          "{{ with .Site.Params.social.linkedin }}{{ . }}{{ end }}",
        ]
      }
    </script>
    <script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@id": "{{ .Site.BaseURL }}#webpage",
		"@type": "WebPage",
		"url": "{{ .Site.BaseURL }}",
    "name": "{{ .Site.Title }}"
	}
</script>
