
    <div class="preloader">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper cbp-af-header">
      <div class="container">

        <!-- Fixed navbar -->
        <div class="navbar cbp-af-inner" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <h1><a class="navbar-brand scroll" href="#introduction">Psicologa Infantil</a></h1>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav pull-right">
                <li ><a href="#introduction">Inicio</a></li>
                <li><a href="#psi">Psicologa</a></li>
                <li><a href="#clinica">Clínica</a></li>
                <li><a href="#terapias">Terapias</a></li>
                <li><a href="#contact">Contacto</a></li>
              </ul>
            </div> <!-- collapse -->
          </div> <!-- container -->
        </div> <!-- navbar -->

      </div> <!-- container -->
    </div> <!-- wrapper -->
