
    <section id="payment" class="light card-bg">

    <div class="text-center title">
      <h2>Aceptamos pago con tarjeta</h2>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-md-offset-1 col-md-5 ">

          <div>
            <p class="lead"><strong>Formas de pago:</strong></p>
            <ul class="pay-ul">
              <li class="pay-li">En efectivo</li>
              <li class="pay-li">Tarjeta de débito</li>
              <li class="pay-li">Transferencia electrónica</li>
              <li class="pay-li">Tarjeta de crédito</li>
            </ul>
            <p>Valoración Psicológica a <strong>3 o 6 meses sin intereses</strong>.</p>
              <blockquote class="small">Recibe mensualidades con American Express, Bancomer, Banamex, Banorte/Ixe, Santander, HSBC, ScotiaBank, Inbursa, Afirme, BanBajio, BanRegio, Banco Ahorro Famsa, Banca Mifel, Invex Banco, Banjercito, Itaucard.</blockquote>
              <div>
                <ul class="tc-ul">
                  <li class="visa"></li>
                  <li class="mastercard"></li>
                  <li class="amex"></li>
                </ul>
              </div>
          </div>

        </div>

        <div class="cards col-md-5 ">
        </div>

      </div>
    </div>


    </section>
