<div class="container">

  <div class="row ">
    <div class="author-box col-sm-offset-2 col-md-offset-2 col-sm-6 col-md-8 text-justify ">
     <h4>Acerca de la Psicóloga Maricarmen:</h4>
      <p> Psicologa Infantil con experiencia en diagnóstico y tratamiento de
      Estimulación y Desensibilización a Través del Movimiento Ocular y Perceptual, haciendo uso
      de un abordaje psicoterapéutico integrativo que ha sido investigado extensamente y
      probado para el tratamiento de diferentes problemas emocionales.
      </p>
    </div>
  </div>

</div>
