
{{ "<!-- ================= Our Values Section ================= -->" | safeHTML }}
    <section id="our_values" class="content text-center light">

    <div class="container">
      {{ " <!-- Three columns of text below the carousel -->" | safeHTML }}
      <div class="row">
        <div class="col-lg-12 overlay-text">
          <h2>El incalculable valor del cuidado en la infancia.</h2>
        </div><!-- /.col-lg-12 -->
      </div><!-- /.row -->

      <div class="row">
        <div class="col-sm-4 text-center overlay-text icons">
          <div class="icon-wrapper">
            <div class="circle mom">

            </div>
          </div>
          <h3>Amor</h3>
          <p>El amor maternal es único, pero no pasa nada si intentamos imitarlo.</p>
        </div>
        <div class="col-sm-4 text-center overlay-text icons">
          <div class="icon-wrapper">
            <div class="circle kids">

            </div>
          </div>
          <h3>Honestidad</h3>
          <p>Parece un valor perdido, empezamos bucandola en nosotros mismos.</p>
        </div>
        <div class="col-sm-4 text-center overlay-text icons">
          <div class="icon-wrapper">
            <div class="circle baby">

            </div>
          </div>
          <h3>Aprendizaje</h3>
          <p>El aprendizaje es producto de la experiencia, y ésta es siempre personal y, por tanto, no puede ser calificada.</p>
        </div>
      </div><!-- /.row -->
    </div>

    <div class="overlay-bg light"></div>
    <a href="#psi" class="page-scroll">
      <i id="first-arrow" class="fa fa-angle-down"></i>
    </a>
    </section>
