<!DOCTYPE html>
{{ "<!--[if IE 8]> <html class=\"no-js lt-ie9 ie8\" lang=\"es\"> <![endif]-->" | safeHTML }}
  {{  "<!--[if IE 9]> <html class=\"ie9\" lang=\"es\"> <![endif]-->" | safeHTML }}
    {{ "<!--[if IE 10]> <html class=\"ie10\" lang=\"es\"> <![endif]-->" | safeHTML }}
      {{  "<!--[if (gt IE 10)|!(IE)]> <html itemscope itemtype=\"http://schema.org/Blog\" xmlns=\"http://www.w3.org/1999/xhtml\" dir=\"ltr\" lang=\"es-MX\" xmlns:fb=\"https://www.facebook.com/2008/fbml\"> <![endif]-->" | safeHTML }}
        <head prefix="og:http://ogp.me/ns# anotherfeed:http://ogp.me/ns/apps/anotherfeed#">
          {{ partial "head.html" . }}
          {{ partial "analytics.html" . }}
        </head>
        <!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->
        <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

          {{ partial "nav.html" . }}
          {{ partial "top.html" . }}
          {{ partial "values.html" . }}
          {{ partial "features.html" . }}
          {{ partial "clinica.html" . }}
          {{ partial "carousel.html" . }}
          {{ partial "payment.html" . }}
          {{ partial "contact.html" . }}
          {{ partial "footer.html" . }}
          {{ partial "microdata.html" . }}
          {{ partial "includes.html" . }}
          {{ partial "embeded.html" . }}
          {{ partial "campaign.html" . }}

        </body>
      </html>
